
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
}
div{
    display:flex;
    justify-content: space-between;
    background-color: grey;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

li{
    font-family: "Work Sans", sans-serif;
    display: flex;
    padding-right: 1em;

}
p {
    font-family: "Montserrat", sans-serif;
}
    /* align item center
     */
a {
    padding: 15px;
}
